@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --section-padding: 1rem;
  --section-margin: 1rem;
  --border-radius-default: 0.75rem;
  --primary-color: #2c3e50;
  --primary-color-dark: #1c2833;
  --secondary-color: #3498db;
  --shade-color: #494949da;
  --color-shadow: grey;
}

html {
  /* font-size: 18px; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: var(--border-radius-default);
  padding: var(--section-padding) calc(var(--section-padding) * 1);
  text-decoration: none;
  font-size: 1.25rem;
  transition-duration: 0.2s;
}

button:disabled {
  opacity: 0.5;
}

button:not(:disabled),
input:not(:disabled),
input:not(:disabled) + label,
.clickable,
.clickable:hover,
a {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--primary-color-dark);
}

.box-shadow {
  box-shadow: 2px 5px 5px var(--color-shadow);
}

.icon {
  vertical-align: bottom;
  max-width: 100%;
}

.icon:hover {
  transform: scale(1.2);
}

.supporting-icon::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  vertical-align: super;
  margin-left: 0.5rem;
}

.icon-btn {
  display: inline-flex;
  justify-content: center;
  gap: 0.5rem;
}

.icon-btn::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden:nth-child(even) {
  transform: translateX(100%);
}

.show,
.in-view,
.in-view:nth-child(even) {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.sticky-element {
  position: sticky;
  top: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th {
  letter-spacing: 2px;
  padding: 0 var(--section-padding);
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.root {
  max-width: 100%;
}

.App {
  display: grid;
  flex-direction: column;
  /* background: linear-gradient(45deg, rgb(48, 60, 170), rgb(151, 161, 255)); */
  min-height: 100vh; /* Keeps footer at bottom of page */
}

header {
  text-align: center;
}

header h1 {
  padding: var(--section-padding);
}

nav {
  padding: var(--section-padding);
  font-size: 1.5rem;
  background: var(--primary-color);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: white;
  text-decoration: none;
  padding: var(--section-padding);
}

nav a:hover {
  background: gray;
  text-decoration: underline;
}

section {
  padding: var(--section-padding);
  margin: var(--section-margin);
  border-bottom: solid 1px var(--color-shadow);
}

.section-header {
  text-align: center;
  font-size: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem var(--section-padding);
}

.name {
  font-size: 5rem;
}

.position-name {
  font-size: 2.5rem;
}

.blinking-cursor {
  animation: 1200ms blink infinite;
}

@keyframes blink {
  0%,
  20% {
    opacity: 1;
  }

  25%,
  100% {
    opacity: 0;
  }
}

.about-container {
  padding: var(--section-padding);
}

.about-content {
  padding: var(--section-padding) 0;
  display: grid;
  gap: 0.5rem;
}

.about-text,
.contact-status {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills-container {
  text-align: center;
  padding: var(--section-padding);
  border: solid 2px var(--primary-color);
  border-radius: var(--border-radius-default);
}

.skills-header {
  border-bottom: solid 1px black;
}

.skills-list {
  margin-top: var(--section-margin);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.skill {
  padding: 0.5rem;
}

.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects ul {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project {
  width: 100%;
  border: solid 2px var(--primary-color);
  border-radius: var(--border-radius-default);
  padding: var(--section-padding);
  text-align: center;
  display: grid;
}

.project h3 {
  font-size: 1.5rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.link-container button {
  padding: 1rem 2rem;
}

.project .screenshot {
  width: 100%;
  object-fit: contain;
}

.show-more-btn {
  width: fit-content;
  align-self: center;
}

.live-btn::after {
  background-image: url(/src/assets/open_in_new_FILL0_wght400_GRAD0_opsz48.svg);
}

.github-btn::after {
  background-image: url(/src/assets/iconmonstr-github-1.svg);
}

.show-more-btn::after {
  background-image: url(/src/assets/expand_more_FILL0_wght400_GRAD0_opsz48.svg);
}

button[type="submit"]::after {
  background-image: url(/src/assets/send_FILL0_wght400_GRAD0_opsz48.svg);
}

.return-to-top-btn::after {
  background-image: url(/src/assets/arrow_upward_FILL0_wght400_GRAD0_opsz48.svg);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  border-radius: var(--border-radius-default);
  width: fit-content;
  padding: var(--section-padding);
}

.contact-status {
  padding: var(--section-padding);
}

.contact-form {
  padding: var(--section-padding);
  background: var(--secondary-color);
  border-radius: var(--border-radius-default);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  resize: vertical;
}

.contact-form button {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.col {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.form-control {
  position: relative;
  border: none;
  background: var(--secondary-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.form-group label {
  position: absolute;
  pointer-events: none;
  top: -0.5rem;
  transition: all 0.3s ease;
}

.col input:focus ~ label,
.form-group textarea:focus ~ label,
.col input:valid ~ label,
.form-group textarea:valid ~ label {
  transform: translateY(-1rem);
  font-size: 0.8rem;
  color: white;
}

.form-group input:user-invalid ~ label {
  color: rgb(255, 0, 0);
  transform: translateY(-1rem);
}

.form-group .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-group .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.form-group input:focus ~ .underline:before,
.form-group input:valid ~ .underline:before,
.form-group textarea:focus ~ .underline:before,
.form-group textarea:valid ~ .underline:before {
  transform: scale(1);
}

.App > a {
  align-self: center;
  justify-self: center;
  margin: var(--section-margin);
}

@media (min-width: 780px) {
  .projects ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */
    gap: 1rem;
  }

  .project {
    height: 100%;
  }

  .about-content {
    grid-template-columns: 1fr 1fr;
  }

  .Contact {
    display: grid;
    justify-items: center;
  }

  .contact-content {
    width: 67%;
  }

  .form-row {
    flex-direction: row;
    gap: 0.25rem;
  }
}

@media (min-width: 1480px) {
  main {
    width: 70%;
    justify-self: center;
  }
  .link-container {
    flex-direction: row;
  }
}
